/*
filename: layout
author: Kha Nam Tran
created: 22/09/2025
last modified: 25/09/2025
description: layout for website
*/

/* === FONT SECTION === */

@font-face { 
    font-family: OCR-A-STD; /* Imports custom font */
    src: url(fonts/ocr-a-extended.ttf) ; /* locates the source */
}

* {
    font-family: OCR-A-STD; /* Apply font to all elements */
}

/* === HEADER SECTION === */

/* General Header Settings*/
header { 
    background-color: #1a1a1a; /*background color*/
    padding: 10px; /* Add space inside header */
    display: flex; /* Flexbox layout*/ 
    gap: 20px; /* Space between logo + title */
    justify-content: space-between; /* logo+title left, slogan right */
}

/* Modification of Logo*/
#logo { 
    width: 100px; /* Width*/
    height: 80px; /* Height*/
}

/* Company Name Modification */
#title h1 { 
    font-size: 3em; /* Font size alignment*/
    letter-spacing: 5px; /* Space between letters*/
    color: #ccc; /* Font color*/
    margin: 0 0 8px; /* no top margin, 8px bottom margin for spacing */
}

/* Company Short Description Modification */
#title p { 
    font-size: 1.2em; /* Aligned with logo*/
    margin-top: 5px; /* Small space above tagline */
    color: #ccc; /* Set grey */
    margin: 0 0 8px; /* no top margin, 8px bottom margin for spacing */
}

/* Side Description*/
#slogan h2 { 
    font-size: 1.5em; /* Font size alignment*/
    color: #ccc; /* Set grey */
    margin: 0; /* Remove margin*/
    padding: 10px; /* Expands padding*/
    border: #cccc dashed 1px; /* Adds dashed border*/
    font-weight: normal; /* Unbold h2 font (to help accessbility)*/
}

/*Aligning Right*/
#slogan { 
    margin-left: auto; /* Pushes slogan right */
    padding-right: 5em; /* Push comment inwards*/
    align-self: center; /* Vertically center own property*/
}

/* === NAVIGATION BAR === */

/* Background for Navigation */
nav {
    background-color: #999999; /* Set grey*/
    padding: 1px; /* Extends Border */
}

/* Styles the list inside nav (links container) */
nav ul {    
    list-style: none; /* Removes bullet points */
    display: grid; /* Grid Layout */
    grid-template-columns: repeat(4, 25%); /* Assigns 4 columns of equal size */
    text-align: center; /* Aligns text to the middle*/
    padding-left: 0px; /* Removes default padding left (Inspect Element is so cool)*/
}

/* Link Change */
nav ul li a {
    text-decoration: none; /* Removes underline */
    color: #000; /* Remove hyperlink color*/
    font-size: 1.2em; /* Font size*/
}

/* Hover effect for links */
nav ul li a:hover {
    color: white; /* Text turns white*/
    transition-duration: 0.2s; /* Delay when hovered*/
    padding: 1em 50%; /* Dimensions that determine hover background color*/
    background-color: #666666; /* Changes background colour when hovered over*/
}

/* ================= FOOTER ================= */

/* General Footer Setting*/

footer {
    background-color: #999999; /* background colour is grey*/
    display: flex; /* */
    justify-content: space-around; /* */
    align-items: center; /* */
}

footer a {
    text-decoration: none; /* Removes underline */
    color: #000; /* Remove hyperlink color*/
}

/* ================= BODY ================= */

body {
    background-color: #d6d6d6; /* Adds grey background*/
    margin: 0; /* ensures background wraps around body*/
    padding: 0; /*removes padding*/
}
